*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgb(65, 214, 214),rgba(199, 65, 177, 0.897));
}

.upper_text{
    margin-top: -10px;
    margin-left: -7px;
    background-image: linear-gradient(to right,rgb(236, 102, 214), rgb(89, 241, 241));
    width: 101%;
    height: 50px;
    display: flex;
    align-items: center;
    
    padding: 0 5%;  
    border-bottom: 3px ridge green;
}

.Button{
    align-items: center;
    display: flex;
    margin-right: 20%;
}

#Home_logo{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

#home{
    font-family: algerian;
    font-size: 30px;
}

#home a{
    color: rgb(3, 11, 78);
}

#home_text{
    font-family: algerian;
    color: rgb(4, 71, 71);
    font-size: 30px;
}

.img1 div{
    margin-top: 20px;
    float: left;
    margin-left: 20px;
    padding: 10px;
}

img{
    border: 3px ridge pink;
    height: 250px;
    width: 400px;
}

.img2 div{
    margin-top: 10px;
    float: left;
    margin-left: 20px;
    padding: 10px;
}

